/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

.hide {
  display: none;
}

li {
  background-color: #008B8B;
  border-radius: 6px;
  margin: 5%;
  list-style: none;
}

li:hover {
  background-color: #007777;
  color: #039be5;
}

a {
  display: block;
  width: 100%;
  color: #F9F9F9;
  text-decoration: none;
  font-size: 22px;
  padding: 4%;
}

img  {
  border: 4px solid #000;
  border-radius: 5px;
}
