/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 701px) {
  li { min-width: 400px; }
  .footer a { visibility: hidden; }
}

* {
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

.hide { display: none; }

.arrow {
  border: 4px solid #000;
  border-radius: 5px;
  font-size: 40px;
  background-color: #30468C;
}

li {
  background-color: #008B8B;
  border-radius: 6px;
  margin: 5% 0 5% 0;
  list-style: none;
}

li:hover {
  background-color: #007777;
  color: #039BE5;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content a {
  display: block;
  width: 100%;
  color: #FCFCFC;
  text-decoration: none;
  font-size: 22px;
  padding: 4%;
}

.footer a {
  display: block;
  color: #090909;
  text-decoration: none;
  margin: 8% 0 6% 0;
}

ul { padding: 0; }

.material-icons { color: #FCFCFC; }
